/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    background: $secondary;
    background-size: cover;
    padding: 60px 0;
  
    h3 {
      color: #fff;
      font-size: 28px;
      font-weight: 700;
    }
  
    p {
      color: #fff;
    }
  
    .cta-btn {
      font-family: $font-primary;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 35px;
      border-radius: 25px;
      transition: 0.5s;
      margin-top: 10px;
      border: 2px solid $primary;
      color: #fff;
      &:hover {
        background: $primary;
      }
    }
  }