/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: lighten($secondary, 65);
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
    h2 {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
    }
  
    h2::after {
      content: '';
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: $primary;
      bottom: 0;
      left: calc(50% - 25px);
    }
  
    p {
      margin-bottom: 0;
      font-size: 14px;
      color: lighten($secondary, 40);
    }
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 140px 0 60px 0;
    min-height: 30vh;
    background-color: lighten($default, 80%);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .breadcrumbs:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
  }
  
  .breadcrumbs h2 {
    font-size: 46px;
    font-weight: 500;
    color: #fff;
    justify-content: flex-start;
  
  }
  